#projects {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
}

.slider {
    width: 100%;
    max-width: 1400px;
    height: auto;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
    gap: 30px;
    scrollbar-width: none;
    padding: 20px;
    scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
    display: none;
}



#project-heading {
    font-size: 3vmax;
    background: linear-gradient(to right, rgb(29, 198, 102),rgb(69, 144, 169));
    background-clip: text;
    color: transparent;
    text-align: center;

}