.skillcard {
    width: 1000px;
    height: 520px;
    background-color: rgb(20, 26, 31);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    box-shadow: 2px 2px 10px black, 2px 2px 20px black;
    border-radius: 2px;
    transition: all 0.2s;
    cursor: pointer;
    flex-shrink: 0;
    padding: 10px;
}

.skillcard:hover {
    box-shadow: 2px 2px 10px rgb(138, 79, 79);
}

.headingSection {
    height: 72px;
    width: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skilldetail {
    background-color: transparent;
    color: aliceblue;
    padding: 24px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.detailSection img {
    height: 200px;
}

.skillcard h1 {
    background: linear-gradient(to right, rgb(214, 98, 98),white);
    background-clip: text;
    color: transparent;    
}




