.Certificatecard {
    width: 400px;
    height: 320px;
    background-color: rgb(20, 26, 31);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 2px 10px black, 2px 2px 20px black;
    border-radius: 2px;
    transition: all 0.2s;
    cursor: pointer;
    flex-shrink: 0;
    padding: 10px;
}

.Certificatecard:hover {
    box-shadow: 2px 2px 10px rgb(138, 79, 79);
}

.hoverCertificatecard img {
    height: 80%;
    filter: drop-shadow(2px 2px 10px black);
}

.hoverCertificatecard {
    width: 100%;
    height: 100%;
    background-color: linear-gradient(to top, rgb(79, 181, 249, 0.449), rgba(0, 0, 0, 0.563));
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(7px);
}

.hoverCertificatecard a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.view-certificate {
    margin-top: 10px;
    padding: 10px 20px;
    background: linear-gradient(to right, rgb(214, 98, 98), rgb(79, 181, 249));
    border-radius: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s;
}

.Certificatecard:hover .view-certificate {
    opacity: 1;
    transform: translateY(0);
}

.Certificatecard:hover .hoverCertificatecard {
    transform: translateY(0%);
}

.Certificatecard h1 {
    background: linear-gradient(to right, rgb(214, 98, 98),white);
    background-clip: text;
    color: transparent;
}

.rightabout image {
    width: 100%;
}
