#about {
    width: 100%;
    height: 100%;   
    display: flex;
    overflow: hidden;
}

.leftabout {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.circle-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 64px;
    height: 64px;
    border-radius: 50px;
    background-color: #7ad7ea;
    box-shadow: 2px 2px 20px #7ad7ea;
}

.line {
    width: 2px;
    height: 140px;
    background-color: aliceblue;
}

.aboutInfo {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
    justify-content: center;    
}

.aboutInfo ul {
    list-style: none;
}

.aboutInfo h1{
    background: linear-gradient(to right, rgb(6, 207, 70),white);
    background-clip: text;
    color: transparent;
}

.aboutInfo li {
    color: white;

}
.aboutInfo span {
    color: rgb(98, 183, 222);
}

.rightabout {
    margin-top: 30px;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;    
}

@media (max-width: 750px) {
    #about{
        flex-direction: column;
    }
    .leftabout{
        width: 100%;
        padding: 10%;
    }
    .rightabout{
        width: 100%;
    }
}