#home {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    overflow: hidden;
}

.lefthome {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.righthome {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items : center;
    justify-content: center;
}

.righthome img{
    width: 100%;
    margin-bottom: 5px;
    height: 60vh;
    filter: drop-shadow(2px 2px 10px rgb(76, 141, 159));    
}

.homedetails {
    font-size: 2vmax;
}

.line1 {
    font-size: 0.8em;
}

.line2 {
    font-size: 2.5em;
    font-weight: 600;
    background: linear-gradient(to right, rgb(6, 70, 207),white);
    background-clip: text;
    color: transparent;
}

.line3 {
    font-size: 1em;
}

.hireme-btn {
    padding: 10px 30px;
    background-color: rgb(66, 180, 202);
    color: black;
    border: 2px solid;
    border-radius: 48px;
    margin-top: 40px;
    font-size: 20px;
    transition: all 0.5s;
    cursor: pointer;
}

.hireme-btn:hover {
    background-color: rgb(171, 179, 171);
    font-size: 1.5rem;
}

.resume-btn {
    padding: 10px 30px;
    background-color: rgb(43, 56, 154);
    color: rgb(248, 250, 250);
    border: 2px solid;
    border-radius: 48px;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 20px;
    transition: all 0.5s;
    cursor: pointer;
}

.resume-btn:hover {
    background: transparent;
    font-size: 1.5rem;
}


@media (max-width: 750px) {
    #home {
        flex-direction: column-reverse;

    }
    .lefthome {
        width: 100%;
        height: 50vh;
    }
    .righthome {
        width: 100%;
        height: 50vh;
        align-items: end;
        margin-top: 100px;
    }
    .righthome img {
        margin-bottom: 0;
    }
    .hireme-btn {
        margin-top: 10px;
    }
    .homedetails {
        margin-top: 0;
    }
    .hireme-btn {
        font-size: 16px;
        margin-top: 2px;
    }
}