#contact {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    overflow: hidden;
}

.leftContact {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftContact img{
    width: 60%;
    filter: drop-shadow(2px 2px 10px rgb(60, 154, 191))
    
}

.rightContact {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 80%;
    height: 70%;
    background-color: rgb(19,25,29);
    box-shadow: 2px 2px 10px black, 2px 2px 20px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    border-radius: 30px;
}

form:hover {
    box-shadow: 2px 2px 10px rgb(105, 208, 215), 2px 2px 20px rgb(105,208,215);
}

form input {
    width: 50%;
    height: 50px;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 20px;
}

textarea {
    width: 80%;
    height: 180px;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 20px;

}

#btn {
    width: 160px;
    height: 50px;
    background-color: rgb(0, 195, 255);
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(250, 251, 252);
    transform: all 0.3s;
    cursor: pointer;

}

#btn:hover {
    background: transparent;
    color: rgb(105, 208, 215);

}

@media (max-width: 750px) {
    #contact {
        flex-direction: column;
    }
    .leftContact {
        width: 100%;
        height: 50vh;
    }

    .leftContact img{
        width: 80%;
        height: 100%;
        
    }
    .rightContact {
        width: 100%;
    }
}