nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    position: fixed;
    top: 0;
    z-index: 20;
    background-color: rgb(24, 27, 30);
}



nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    color: white;
    list-style: none;
    font-size: 20px;
}

nav ul a {
    cursor: pointer;
}

nav ul a:hover{
    color: green;
}

.active {
    color: green;
    border-bottom: 2px solid green;
}

nav h1 {
    font-size: 44px;
    font-weight: 600;
    background: linear-gradient(to right, rgb(6, 70, 207),white);
    background-clip: text;
    color: transparent;
}


.hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    display: none;
    cursor: pointer;
    
}

.ham{
    width: 36px;
    height: 2.5px;
    background-color: aliceblue;
    transition: all 0.5s;
}


.mobile-menu {
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100vh;
    background-color: rgb(24, 27, 30, 0.482);
    backdrop-filter: blur(7px);
    right: 0;
    transform: translateX(100%);
    flex-direction: column;
    transition: all 0.6s;
    gap: 48px;

}

.activeMobile {
    transform: translateX(0%);
}

.activeham .ham:nth-child(1){
    transform: rotate(45deg);
    position: relative;
    top: 8px;
}

.activeham .ham:nth-child(2){
    opacity: 0;
}

.activeham .ham:nth-child(3){
    transform: rotate(-45deg);
    position: relative;
    top: -11px;
}

@media (max-width:750px) {
    .desktop-menu {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    nav h1 {
        font-size: 24px;
    }
    nav {
        height: 52px;
    }
    
}