#certificates {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
}

.slider {
    width: 90%;
    height: 360px;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    gap: 30px;
    scrollbar-width: none;
    padding: 20px;
}

.slider Card {
    height: 600px;
}



#certificate-heading {
    font-size: 3vmax;
    background: linear-gradient(to right, rgb(29, 198, 102),rgb(69, 144, 169));
    background-clip: text;
    color: transparent;
    text-align: center;

}